@font-face { font-family: "iranSans";
  src: url("./fonts/woff2/IRANSansWeb(FaNum).woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face { font-family: "iranSansBold";
    src: url("./fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: "lido";
    src: url("./fonts/woff2/lido.woff2");
    font-weight: normal;
    font-style: normal;
}