html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, label, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "iranSans", sans-serif !important;
  direction: rtl;
}

h1, h2, h3, h4, h5, h6{
    font-family: "iranSansBold", sans-serif !important;
}

::-webkit-scrollbar {
  width: 3px;
  background: #a8a8a8;
  right:0;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  -webkit-border-radius: 1px;
  background-color: #017aff;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

textarea{
  resize: vertical;
  border:1px solid #c1bfbf;
  border-radius: 5px;
  padding: 18px 14px;
  width:calc(100% - 30px);
}

textarea:active, textarea:focus{
  outline:none!important;
}

p, input, label, textarea, select{
  font-size:0.85rem!important;
  color: #6d6d6d;
}
h1{
  font-size:1.2rem;
  color: #4e4e4e;
}
h2{
  font-size:1.05rem;
  color: #4e4e4e;
}
h3{
  font-size:0.9rem;
  color: #4e4e4e;
}

strong{
  font-family: iranSansBold!important;
  margin-left: 5px;
}
