[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "lido";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;


  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-no-image:before { content: '\e800'; } /* '' */
.icon-order-list:before { content: '\e801'; } /* '' */
.icon-paragraph:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-post:before { content: '\e804'; } /* '' */
.icon-posts:before { content: '\e805'; } /* '' */
.icon-refresh-copy-8:before { content: '\e806'; } /* '' */
.icon-refresh-copy-17:before { content: '\e807'; } /* '' */
.icon-refresh:before { content: '\e808'; } /* '' */
.icon-right-align:before { content: '\e809'; } /* '' */
.icon-seo:before { content: '\e80a'; } /* '' */
.icon-solid-close:before { content: '\e80b'; } /* '' */
.icon-sort:before { content: '\e80c'; } /* '' */
.icon-spacer:before { content: '\e80d'; } /* '' */
.icon-statics:before { content: '\e80e'; } /* '' */
.icon-story:before { content: '\e80f'; } /* '' */
.icon-summary:before { content: '\e810'; } /* '' */
.icon-tag:before { content: '\e811'; } /* '' */
.icon-timer:before { content: '\e812'; } /* '' */
.icon-underline:before { content: '\e813'; } /* '' */
.icon-undo:before { content: '\e814'; } /* '' */
.icon-unorder-list:before { content: '\e815'; } /* '' */
.icon-upload:before { content: '\e816'; } /* '' */
.icon-users:before { content: '\e817'; } /* '' */
.icon-video:before { content: '\e818'; } /* '' */
.icon-v-more:before { content: '\e819'; } /* '' */
.icon-1-1-layout:before { content: '\e81a'; } /* '' */
.icon-1-2-1-layout:before { content: '\e81b'; } /* '' */
.icon-1-2-layout:before { content: '\e81c'; } /* '' */
.icon-1-layout:before { content: '\e81d'; } /* '' */
.icon-3-layout:before { content: '\e81e'; } /* '' */
.icon-add:before { content: '\e81f'; } /* '' */
.icon-arrow-down:before { content: '\e820'; } /* '' */
.icon-arrow-up:before { content: '\e821'; } /* '' */
.icon-bold:before { content: '\e822'; } /* '' */
.icon-calender:before { content: '\e823'; } /* '' */
.icon-catategory:before { content: '\e824'; } /* '' */
.icon-center-align:before { content: '\e825'; } /* '' */
.icon-close:before { content: '\e826'; } /* '' */
.icon-comments:before { content: '\e827'; } /* '' */
.icon-confirm:before { content: '\e828'; } /* '' */
.icon-date:before { content: '\e829'; } /* '' */
.icon-delete:before { content: '\e82a'; } /* '' */
.icon-emoji:before { content: '\e82b'; } /* '' */
.icon-groupe:before { content: '\e82c'; } /* '' */
.icon-h1:before { content: '\e82d'; } /* '' */
.icon-h2:before { content: '\e82e'; } /* '' */
.icon-h3:before { content: '\e82f'; } /* '' */
.icon-h4:before { content: '\e830'; } /* '' */
.icon-h5:before { content: '\e831'; } /* '' */
.icon-h6:before { content: '\e832'; } /* '' */
.icon-header:before { content: '\e833'; } /* '' */
.icon-help:before { content: '\e834'; } /* '' */
.icon-help-solid:before { content: '\e835'; } /* '' */
.icon-home:before { content: '\e836'; } /* '' */
.icon-html:before { content: '\e837'; } /* '' */
.icon-image:before { content: '\e838'; } /* '' */
.icon-lidobot:before { content: '\e839'; } /* '' */
.icon-italic:before { content: '\e83a'; } /* '' */
.icon-link:before { content: '\e83b'; } /* '' */